doctype html
html
  head
    title Web chat
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="css/sidebar.css")
    link(rel="stylesheet" type="text/css" href="css/master.css")
    script(src="js/jquery-3.1.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  body
    div.wrapper.container-fuild
      //- Modal Change user setting
      .modal.fade#userSetting(role="dialog")
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type="button" data-dismiss="modal") &times;
              h4.modal-title Setting
            .modal-body
              p test
            .modal-footer
              button.btn.btn-default(type="button" data-dismiss="modal") Save
      div.sidebar#sidebar
        form(action="logout" method="post")
          button.btn.btn-inf.btn-lg(type="submit")
            span.glyphicon.glyphicon-log-out
            |Log out
        button.btn.btn-inf.btn-lg#settingBtn(type="button" data-toggle="modal" data-target="#userSetting")
          span.glyphicon.glyphicon-cog

      div.main_content#main_content
        div.menu
          div.back(onclick="openSidebar()")
            i.fa.fa-chevron-right#menu_sidebar_icon
            img#self_avatar(src=ava draggable="false")/
          div.name  #{name}
          // div.last
        - var history = {msgList};
        - var ssname = {sessionname};
        ol.chat
          each msgLs in history
            each msg in msgLs
              if (msg.username == ssname.sessionname)
                li.self
                  .avatar
                    img(data-toggle="tooltip" title = msg.name src = msg.avatar draggable="false")
                  .msg
                    p #{msg.message}
                    time #{msg.time}
              else
                li.other
                  .avatar
                    img(data-toggle="tooltip" title = msg.name src = msg.avatar draggable="false")
                  .msg
                    p #{msg.message}
                    time #{msg.time}
        form#chat_form(action="")
          input.textarea#m(type="text" placeholder="Type here!" autocomplete="off")/
          div.emojis
    // Javascript library
    script(src="/socket.io/socket.io.js")
    script(src="js/sidebar.js")
    script(type="text/javascript").
      var socket = io();
      $('#chat_form').submit(function(){
        var dt = new Date();
        var time = dt.getHours() + ":" + dt.getMinutes();
        var msg = {username: "#{uniquename}", name: "#{name}", avatar: "#{ava}", time: time, msg: $('#m').val()};
        socket.emit('chat messages', msg);
        $('#m').val('');
        return false;
      });
      socket.on('self_messages', function(msg){
        var self_ava = $('<div>').addClass("avatar").append($('<img>'));
        self_ava.children('img').attr("src", msg.avatar).attr("draggable", false).attr("data-toggle", "tooltip").attr("title", msg.name);
        var self_msg = $('<div>').addClass('msg').append($('<p>')).append($('<time>'));
        self_msg.children('p').text(msg.message);
        self_msg.children('time').text(msg.time);
        var self_m = $('<li>').addClass("self").append(self_ava).append(self_msg);
        $('ol').append(self_m);
      });

      socket.on('other_messages', function(msg){
        var other_ava = $('<div>').addClass("avatar").append($('<img>'));
        other_ava.children('img').attr("src", msg.avatar).attr("draggable", false).attr("data-toggle", "tooltip").attr("title", msg.name);
        var other_msg = $('<div>').addClass('msg').append($('<p>')).append($('<time>'));
        other_msg.children('p').text(msg.message);
        other_msg.children('time').text(msg.time);
        var other_m = $('<li>').addClass("other").append(other_ava).append(other_msg);
        $('ol').append(other_m);
      });

      $('.textarea').keydown(function(event){
        if(event.keyCode == 13){
          $("#chat_form").submit();
          return false;
        }
      });
